{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Let's Sign Up</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'signUp/fonts/material-icon/css/material-design-iconic-font.min.css'%}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'signUp/css/style.css' %}">
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form action="register" method="POST" class="register-form" name="register-form">

                            {% csrf_token %}
                            {% if error_msg %}
                            <div class="form-group">
                                  <div class="zmdi zmdi-alert-triangle" role="alert">
                                            {{ error_msg }}
                                  </div>
                              </div>
                            {% endif %}
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" value="{{ values.user_name }}" name="username"  placeholder="Your Name" required />
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" value="{{ values.user_email }}" name="email"  placeholder="Your Email" required/>
                            </div>
                            <div class="form-group">
                                <label for="contact"><i class="zmdi zmdi-phone"></i></label>
                                <input type="text" value="{{ values.user_contact}}" name="user_contact"  maxlength="10" placeholder="Your Contact Number" required/>
                            </div>
                            <div class="form-group">
                                <label for="qualification"><i class="zmdi zmdi-info"></i></label>
                                <input type="text" value="{{ values.user_qualification }}" name="user_qualification"  placeholder="Your Qualification"/>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password_one"  placeholder="Password" required/>
                            </div>

                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="password_two"  placeholder="Repeat your password"/>
                            </div>

                             <div class="form-group">
                                <label for="picture"><i class="zmdi zmdi-image"></i></label>
                                <input type="image" name="picture"  placeholder="Your picture"/>
                            </div>



                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'signUp/images/signup-image.jpg' %}" alt="sing up image"></figure>
                        <a href="#" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Sing in  Form -->
{#        <section class="sign-in">#}
{#            <div class="container">#}
{#                <div class="signin-content">#}
{#                    <div class="signin-image">#}
{#                        <figure><img src="images/signin-image.jpg" alt="sing up image"></figure>#}
{#                        <a href="#" class="signup-image-link">Create an account</a>#}
{#                    </div>#}
{##}
{#                    <div class="signin-form">#}
{#                        <h2 class="form-title">Sign up</h2>#}
{#                        <form method="POST" class="register-form" id="login-form">#}
{#                            <div class="form-group">#}
{#                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>#}
{#                                <input type="text" name="your_name" id="your_name" placeholder="Your Name"/>#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>#}
{#                                <input type="password" name="your_pass" id="your_pass" placeholder="Password"/>#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />#}
{#                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>#}
{#                            </div>#}
{#                            <div class="form-group form-button">#}
{#                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>#}
{#                            </div>#}
{#                        </form>#}
{#                        <div class="social-login">#}
{#                            <span class="social-label">Or login with</span>#}
{#                            <ul class="socials">#}
{#                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>#}
{#                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>#}
{#                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </section>#}

    </div>

    <!-- JS -->
    <script src="{% static 'signUp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'signUp/js/main.js' %}"></script>
</body>
</html>